
  
  /* Button color */
  .btn-pink {
    background-color: #E10174;
    border-color: #E10174;
  }
  
  
  
 
 

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply fadeIn animation */
.animated.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

/* Gradient button styling */
.btn-gradient {
  background: linear-gradient(to right, #E10174, #ff7e5f);
  border: none;
  transition: all 0.3s ease;
}

.btn-gradient:hover {
  background: linear-gradient(to right, #ff7e5f, #E10174);
  transform: scale(1.05);
}

/* Card style enhancements */
.card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Input and button rounded styles */
input, button {
  border-radius: 50px;
}

/* Focus and hover effects */
input:focus, button:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* Alerts (success and error) with fade-in effect */
.alert {
  animation: fadeIn 0.5s ease;
}
/* Add this CSS to fix the header and make the table body scrollable */
.table-responsive {
  position: relative;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #E10174;
  color:white;
}

.table tbody {
  max-height: 300px;  /* Adjust the height as needed */
  overflow-y: auto;
}
.dropdown-arrow {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin-top: 5px;
}

.custom-dropdown {
  position: absolute;
  top: 100%;
  left: 20%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 120px;
}

.dropdown-item {
  padding:3px 12px;
  cursor: pointer;
  color: black;
  font-weight: 600;

  transition: background 0.2s ease;
}

.dropdown-item:hover {
  color: purple;
}
/* Login.css */
.bg-gradient {
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.card {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
}

.btn-pink {
  background-color: #E10174;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-pink:hover {
  background-color: #c70066;
}


